/* common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  min-height: 100dvh;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #666;
}

@view-transition {
  navigation: auto;
}

/* top page */

.top-main {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: min(100%, 800px);
  flex-grow: 1;
}

.top-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-color: #eee;
}

.top-image-1 {
  view-transition-name: view-transitions-api-test-1;
}

.top-image-2 {
  view-transition-name: view-transitions-api-test-2;
}

.top-image-3 {
  view-transition-name: view-transitions-api-test-3;
}

.top-paragprahs {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.25rem;
}

/* sub page */

.sub-main {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 640px 1fr;
  gap: clamp(16px, 4vw, 32px);
  width: min(100%, 800px);
}

.sub-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-color: #eee;
  grid-column: 1 / 4;
}

.sub-image-1 {
  view-transition-name: view-transitions-api-test-1;
}

.sub-image-2 {
  view-transition-name: view-transitions-api-test-2;
}

.sub-image-3 {
  view-transition-name: view-transitions-api-test-3;
}

.sub-paragraphs {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.25rem;
}

::view-transition-group(*) {
  animation-duration: 1s;
}
